# LaTeX Kompilatabfall werden ignoriert 
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

*.swp
*.swo
*.DS_Store

*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

*.dpth
*.md5
*.auxlock

# Nur .tex und .pdf Dateien werden von git berücksichtigt
!*.tex
!*.pdf
